[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
dlib = "*"
sklearn = "*"
keras = "*"
tensorflow = "*"
opencv-python = "*"
matplotlib = "*"

[dev-packages]
